* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: #222;
    color: #fff;
}

header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #00adb5;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #ffd369;
}

section {
    padding: 60px 10%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #222;
}
.skill-box span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #00adb5;
    color: #fff;
    border-radius: 20px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    padding: 30px;
    background: #eeeeee;
    border-radius: 10px;
}
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }
}
.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffd369;
    margin-bottom: 20px;
}

.title {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: bold;
}
 .oracle-box {
    max-width: 700px;
    margin: auto;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #ffffff;
    border: 2px solid #f80000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.oracle-logo {
    width: 120px;
    height: auto;
}

.oracle-text h3 {
    color: #f80000;
    margin-bottom: 8px;
}

.oracle-text p {
    font-size: 1rem;
}



